* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
}
body {
    background-color: white
    ;
    background-size: cover;
    background-repeat: no-repeat;
}
.nav {
    color: black;
    background-color: black;
    padding: 14px 12px
}
.nav a {
    color: white;
    padding: 14px 12px;
    height: 100%;
    font-size: 20px;
}
.nav a:hover {
    color: blueviolet;
}
.center {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    background-color: black;
}
h1 {
    margin: 30px;
    font-size: 50px;
}
.tengame {
    text-align: center;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}
.anh {
    display: flex;
}
.xem {
    font-size: 50px;
    text-align: center;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #c7ecee;
}
#video {
    justify-content: space-around;
    display: flex;
}
.img1 {
    margin-left: 90px;
}

.img2 {
    margin-left: 80px;
    margin-right: 80px;
}
.img3 {
    margin-left: 90px;
}
#inf {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#inf1 {
    margin-left: 110px;
    font-size: 20px;
    color: white;
}
#inf2 {
    margin-left: 100px;
    font-size: 20px;
    color: white;
}
#inf3 {
    margin-right: 30px;
    font-size: 20px;
    color: white;
}
.account {
    text-align: center;
    color: #c7ecee;
    background-color: #ff7979;
}
#wrapper {

    display: flex;
    justify-content: center;
}
#form {
    max-width: 300px;
    background-color: #c7ecee;
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 0px 0px 17px #fd79a8;
    
}

.signin {
    font-size: 50px;
    color: #0984e3;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 30px;
}

.group {
    border-bottom: 1px solid #6c5ce7;
    margin-top: 15px;
    margin-bottom: 20px;
}

.input {
    background: transparent;
    border: 0;
    outline: 0;
    flex-grow: 1;
}

.input::placeholder {
    color: #fd79a8;
}
.submit{
    background: #9cd4ec;
    color: #db1e1ef1;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    margin-top: 30px;
}
.submit:hover{
    background-color: #6c5ce7;
}
.sex{
    margin: 10px 10px 10px;
    
}
#g{
    color: #fd79a8;
}
#footer{
    font-size: 20px;
    background-color: #9cd4ec;
    display: flex;
    justify-content: space-around;
}
.meow{
    margin: 10px 10px 10px;
}
